*{
    box-sizing: border-box;
  }
  div{
    border: 0.5px solid darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body{
    margin: auto;
    align-content: center;
    display: grid;
  }
