*{
    box-sizing: border-box;
}

body{
   
   display: flex;
   margin: auto;
   align-content: center;

}



div{
    border: 1px solid black;
    justify-content: center;  
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;

}

